/**
  * Sets up start and end for an individual column
  */
  .gfy-col {
    &-auto {
      grid-column: auto;
    }

    &-start {
      &\:auto {
        grid-column-start: auto;
      }

      @include generated-variants($cols-iterations, true) using ($i) {
        grid-column-start: $i;
      }
    }

    &-end {
      &\:auto {
        grid-column-end: auto;
      }

      @include generated-variants($cols-iterations, true) using ($i) {
        grid-column-end: $i;
      }
    }

    &-span {
      @include generated-variants($cols-iterations) using ($i) {
        grid-column: span $i / span $i;
      }

      // Responsive
      @include generated-size-variants($screen-sizes, $cols-iterations) using ($i, $size) {
        @if $size == sm {
          @media only screen and (min-width: $min-screen-size-sm) {
            grid-column: span $i / span $i;
          }
        } @else if $size == md {
          @media only screen and (min-width: $min-screen-size-md) {
            grid-column: span $i / span $i;
          }
        } @else if $size == lg {
          @media only screen and (min-width: $min-screen-size-lg) {
            grid-column: span $i / span $i;
          }
        } @else if $size == xl {
          @media only screen and (min-width: $min-screen-size-xl) {
            grid-column: span $i / span $i;
          }
        }
      }
    } 
  }