/**
  * Sets up grid rows
  */
.gfy-grid-rows {
  &\:none {
    grid-template-columns: none;
  }

  @include generated-variants($max-rows) using ($i) {
    grid-template-rows: repeat($i, minmax(0, 1fr));
  }

  @include generated-size-variants($screen-sizes, $max-rows) using ($i, $size) {
    @if $size == sm {
      @media only screen and (min-width: $min-screen-size-sm) {
        grid-template-rows: repeat($i, minmax(0, 1fr));
      }
    } @else if $size == md {
        @media only screen and (min-width: $min-screen-size-md) {
          grid-template-rows: repeat($i, minmax(0, 1fr));
        }
    } @else if $size == lg {
        @media only screen and (min-width: $min-screen-size-lg) {
          grid-template-rows: repeat($i, minmax(0, 1fr));
        }
    }
    @else if $size == xl {
      @media only screen and (min-width: $min-screen-size-xl) {
        grid-template-rows: repeat($i, minmax(0, 1fr));
      }
    }
  }
}